/*
	This file is part of NiuEdit.

	NiuEdit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	any later version.

	NiuEdit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with NiuEdit.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
	NiuEdit
	Web thematic and simple OpenStreetMap editor.
	Author: Adrien PAVIE

	Main stylesheet
*/

/***********
 * General *
 ***********/

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 50px;
}

/** Margin for index footer **/
body.index {
	margin-bottom: 60px;
}

/** Debug border **/
.debug {
	border: 1px solid red;
}

/** Full width for container **/
.no-padding {
	padding: 0px;
}

.container-full-height {
	height: 100%;
}

.container-full-height .row {
	height: 100%;
}

/*************
 * Jumbotron *
 *************/

.jumbotron {
	background-color: #555;
	color: #eee;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

/******************
 * Theme selector *
 ******************/

.theme {
	background-color: #ddd;
	text-align: center;
	margin: 1em;
	padding: 1em;
	display: block;
	color: black;
}

.theme:hover {
	background-color: #eee;
}

.theme .icon {
	display: block;
}

.theme .icon img {
	vertical-align: middle;
	height: 5em;
	max-width: 5em;
}

.theme .name {
	display: block;
	font-size: 120%;
}

.theme .description {
	display: block;
	font-size: 80%;
}

/**********************
 * Map page structure *
 **********************/

#page-content {
	display: table;
	width: 100%;
	height: 100%;
	padding: 0;
}

.page-content-row {
	display: table-row;
}

.page-content-row  > div {
	display: table-cell;
}

#page-content-map {
	height: 100%;
}

/*******
 * Map *
 *******/

#map {
	width: 100%;
	height: 100%;
}

/***********
 * Options *
 ***********/

#options {
	padding: 0 20px;
	background-color: #F7F7F9;
}

/*********
 * Modal *
 *********/

.modal-wide .modal-dialog {
	width: 90%;
}

/**********
 * Footer *
 **********/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 20px 0px;
	color: #999;
	text-align: center;
	background-color: #F9F9F9;
	border-top: 1px solid #E5E5E5;
}
